#game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


table#game_grid{
    padding: 10px;
    margin: 10px;
}

#game_body{
    border-radius: 10px;
    box-shadow: 0 0 0 10px rgb(0, 55, 156);
    background: rgb(0, 55, 156);
    padding: 20px;
}

thead{
    height: 200px;
}

th{
    height: 200px;
    width: 100px;
}


td{
    height: 100px;
    width: 100px;
    padding: 5px;
}

.table_button{
    height: 100%;
    width: 100%;
    font-size: 3em;
    background: none;
    outline: none;
    border: none;
}

.table_button span{
    display: block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

.table_button:hover{
    font-size: 4em;
    transition: ease-out 0.2s;
    color: rgb(255, 0, 0);
}

.table_button:active{
    color: rgb(255, 0, 0);
}

.table_button:disabled span{
    display: none;
}

.table_button:disabled:after,
.table_button[disabled]:after{
    content: '\02716';
}

.disabled{
    visibility: hidden;
}

.disabled:before{
    content: '\02716';
    visibility: visible;
}

.disc{
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    height: 100%;
    width: 100%;
}

.yellow{
    background-color: rgb(255, 230, 0);
}

.red{
    background-color: rgb(255, 0, 0);
}

.empty{
    background-color: #FFF;
}


@media(max-width: 580px){
    td{
        height: 15vw;
        width: 15vw;
    }
    th{
        max-width: 15vw;
    }
}
