@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body, html{
    min-height: 100%;
}

header{
    height: 70px;
    background: rgb(168, 181, 196);
    padding-bottom: 200px;
    background-image: url(../img/headerbackground.png);
    background-repeat: no-repeat;
    background-position: right;
}

#main_div{
    background-image: url('../img/backgroundhome.png');
    background-repeat: no-repeat;
    background-position: left; 
    margin-left: 10%;
}

#under_main_div {
    margin-right: 15%;
    margin-left: 45%;
    margin-top: 10%;
}

footer{
    height: 60px;
    width: 100%;
    background: rgb(168, 181, 196);
    position: absolute;
    bottom: 0;
}

.welcomeText {

}

.footerText {
    text-align: center;
    color: grey;
    margin-top: 15px;
}

.headerText {
    text-align: left;
    color: grey;
    font-size: 70px;
    padding-top: 50px;
    padding-left: 200px;
}